* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    padding: 24px;
    display: block;
    font-family: Arial;
    color: black;
}

.card > input {
    margin-top: 12px;
    display: flex;
    width: 100%;
    border: 2px solid #bbbbbb;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
}
.card > select {
    margin-top: 12px;
    display: flex;
    width: 100%;
    border: 2px solid #bbbbbb;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
}