* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--tg-theme-bg-color);
}

.card {
    padding: 24px;
    display: block;
    font-family: Arial;
    color: var(--tg-theme-text-color);
}

.card > input {
    margin-top: 12px;
    display: flex;
    width: 100%;
    border: 1.5px solid #bbbbbb;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
}
.card > textarea {
    margin-top: 12px;
    display: flex;
    width: 100%;
    border: 1.5px solid #bbbbbb;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
    max-width: 100%;
    min-width: 100%;
}
.card > select {
    margin-top: 12px;
    display: flex;
    width: 100%;
    border: 1.5px solid #bbbbbb;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
}